useDynLib(picante)

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  ape,
  vegan,
  nlme
)

# need to import functions called in functions
importFrom(quantreg, rq)
importFrom(brglm, brglm)
